:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --secondary-color: #2196f3;
  --main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ===========/ ЦВЕТ ИКОНОК/============ */
/* a {
  color: #afb1b8;
} */

/* ================  ГЛОБАЛЬНЫЕ СТИЛИ ===================*/

h1,
h2,
h3,
h4 {
  margin: 0px;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
}

body li {
  list-style-type: none;
}

body a {
  text-decoration: none;
}

img {
  display: block;
}

button {
  cursor: pointer;
  border: none;
}

p {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin: 0px;
}

ul {
  padding: 0px;
  margin: 0px;
}

nav {
  display: flex;
}

section {
  padding: 94px 0;
}

.header {
  border-bottom: solid 1px #ececec;
}

/* ===============  ШИРИНА КОНТЕНТА ================ */

.container {
  width: 1200px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

/* =============== ПОЗИЦИОНИРОВАНИЕ ШАПКИ  =============== */
.header__container {
  display: flex;
  align-items: center;
}

/* =================  ЛОГОТИП  ================= */

.logo {
  display: inline-block;
  color: #000;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  padding-top: 24px;
}

.logo__web {
  color: var(--secondary-color);
}

.footer__logo {
  color: #fff;
  padding: 0;
  margin-bottom: 20px;
}

/* ================ НАВИГАЦИЯ ================= */

.nav-menu {
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.nav-menu__item:not(:last-child) {
  margin-right: 50px;
}

.nav-menu__link {
  display: inline-block;
  position: relative;
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.14em;
  padding: 32px 0;
  transition: color var(--main-transition);
}

.nav-menu__link:hover,
.nav-menu__link:focus,
.nav-menu__link--active {
  color: var(--secondary-color);
}

.nav-menu__link--active::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  bottom: -1px;
  background-color: var(--secondary-color);
  border-radius: 2px;
  transform: scale(1);
}

.nav-menu__link:not(.nav-menu__link--active)::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  bottom: -1px;
  background-color: var(--secondary-color);
  border-radius: 2px;
  transform: scale(0);
  transform-origin: left 10%;

  transition: transform var(--main-transition);
}

.nav-menu__link:hover:after {
  transform: scale(1);
}

/* ======== ТЕЛЕФОН И ПОЧТА =========== */

.header-contacts {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.header-contacts__link {
  display: flex;
  align-items: center;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.14em;
  position: relative;
  padding: 32px 0;
  transition: color var(--main-transition);
}

.header-contacts__item:not(:first-child) {
  margin-left: 30px;
}

.header-contacts__icon {
  fill: var(--secondary-text-color);
  margin-right: 10px;
  transition: fill var(--main-transition);
}

.header-contacts__link:hover svg,
.header-contacts a:focus svg {
  fill: var(--secondary-color);
}

.header-contacts a:hover,
.header-contacts a:focus,
.footer-contacts-list a:focus,
.footer-contacts-list a:hover {
  color: var(--secondary-color);
}

/*=========== СТИЛИ КОНТЕНТА  ============ */

/* ========= ГЕРОЙ ============== */

.hero {
  padding: 0px;
  text-align: center;
}

.hero__overlay {
  height: 600px;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/overlay.jpg");
  background-color: #c4c4c4;
}

.hero__title {
  color: #fff;
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 0.06em;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 30px;
}
.hero__button {
  display: inline-block;
  background-color: var(--secondary-color);
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 11px, 34px;
  border: none;
  margin: 0px;
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  transition: background-color var(--main-transition);
}

.hero__button:hover,
.hero__button:focus {
  background-color: #188ce8;
}

/* =============  НАШИ ПРЕИМУЩЕСТВА  ============= */

.benefits__list {
  display: flex;
  justify-content: space-between;
}

.benefits__item {
  width: 270px;
}

.benefits__icon-frame {
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefits__label {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* =============  ЧЕМ МЫ ЗАНИМАЕМСЯ  ============= */

.activity {
  padding-top: 0px;
}

.activity__list {
  display: flex;
  justify-content: space-between;
}

.activity__item {
  position: relative;
}

.activity__title {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.activity__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 70px;
  left: 0%;
  bottom: 0px;
  background-color: rgba(47, 48, 58, 0.8);
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
}

/*===============  НАША КОМАНДА  ================ */
.team {
  background-color: #f5f4fa;
}

.team__title {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.team__list {
  display: flex;
  justify-content: space-between;
}

.team__item {
  width: 270px;
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team__position {
  font-size: 16px;
  line-height: 1.2;
  margin: 0px;
  letter-spacing: 0.03em;
}

.team__meta {
  text-align: center;
  padding: 30px 32px;
}

.social__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition: background-color var(--main-transition);
}

.social__icon {
  fill: currentColor;
  transition: fill var(--main-transition);
}

.social__link:hover,
.social__link:focus {
  background-color: var(--secondary-color);
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: #fff;
}

/* ================== ПОСТОЯННЫЕ КЛИЕНТЫ ============= */

.customers__title {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: border-color var(--main-transition);
}

.customers__list {
  display: flex;
  justify-content: space-between;
}

.customers__link:hover,
.customers__link:focus {
  border-color: var(--secondary-color);
}

.customers__link:hover .customers__logo,
.customers__link:focus .customers__logo {
  fill: var(--secondary-color);
}

.customers__logo {
  fill: currentColor;
  transition: fill var(--main-transition);
}

/*================= ПОРТФОЛИО  ================= */

.hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
  margin-top: -1px;
}

/* ================  ФИЛЬТР  ================= */

.portfolio-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 56px;
}

.portfolio-filter__list {
  display: flex;
}

.portfolio-filter__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-filter__button {
  font-family: inherit;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.62;
  background-color: #f5f4fa;
  padding: 6px 22px;
  border-radius: 4px;
  transition: background-color var(--main-transition),
    color var(--main-transition), box-shadow var(--main-transition);
}

.portfolio-filter__button:hover,
.portfolio-filter__button:focus {
  color: #fff;
  background-color: var(--secondary-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ============  ПРИМЕРЫ РАБОТ  ============ */
.example__thumb-box {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.example__overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform var(--main-transition);
}

.example:hover .example__overlay {
  transform: translateY(0);
}

.example:focus .example__overlay {
  transform: translateY(0);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.portfolio-item {
  width: 370px;
  min-height: 404px;
  margin-right: 30px;
  border: solid 1px #eeeeee;
  margin-bottom: 30px;
  transition: box-shadow var(--main-transition);
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.portfolio-item:nth-child(3n + 3) {
  margin-right: 0px;
}

.example__img {
  width: 100%;
}
.example__title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  line-height: 2;
}

.example__category {
  color: var(--secondary-text-color);
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.85;
}

.example__overlay-text {
  color: #fff;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

.example__description {
  padding: 20px 24px;
}

.example__category {
  margin: 0px;
}

.portfolio-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.example:hover .example-overlay {
  transform: translateY(0);
}

.example:focus .example-overlay {
  transform: translateY(0);
}

/* =========== МОДАЛЬНОЕ ОКНО ======================= */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--main-transition);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal-close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: #000;
  transition: fill var(--main-transition);
}

.modal-close__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-close:hover {
  fill: var(--secondary-color);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 581px;
  background-color: #fff;
  transition: transform var(--main-transition);
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal__title {
  color: var(--primary-text-color);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

/* ================ ФОРМА МОДАЛКИ ================= */

.modal-form__wrap {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 28px;
}

.modal-form__wrap:nth-child(4) {
  margin-bottom: 0px;
}

.modal-form__input {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding-left: 42px;
  font-size: 14px;
  line-height: 1.17;
  color: var(--secondary-text-color);
  transition: border-color var(--main-transition);
}

.modal-comment {
  transition: border-color var(--main-transition);
}

.modal-form__input:focus,
.modal-comment:focus {
  border-color: var(--secondary-color);
}

.modal-form__label {
  position: absolute;
  display: block;
  top: 50%;
  left: 42px;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  line-height: 1.17;
  letter-spacing: 0.01em;
  transform: translateY(-50%);
  transition: transform var(--main-transition);
}

.modal-form__wrap:focus-within > .modal-form__label,
.modal-form__input:not(:placeholder-shown) + .modal-form__label {
  transform: translate(-42px, -3.1em);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  fill: currentColor;
  transition: fill var(--main-transition);
}

.modal-form__wrap:focus-within > .modal-form__icon {
  fill: var(--secondary-color);
}

.comment {
  min-height: 120px;
}
.modal-comment__input {
  position: relative;
  width: 100%;
  min-height: 100%;
  resize: none;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 1.17;
  color: var(--secondary-text-color);
}

.modal-form__wrap:focus-within > .modal-comment__input {
  border-color: var(--secondary-color);
}

.modal-comment__input::placeholder {
  position: absolute;
  font-size: 14px;
  line-height: 1.17;
  color: #75757580;
  z-index: 10;
}

.label-position {
  position: relative;
  display: block;
}

.comment-label {
  position: absolute;
  top: -1.5em;
  left: 0;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  padding-bottom: 4px;
  color: var(--secondary-text-color);
}

/* ================ ЧЕКБОКС =========================== */

.modal-checkbox__link {
  color: var(--secondary-color);
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.modal-checkbox__link:hover {
  cursor: pointer;
}

.modal-checkbox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  padding-bottom: 30px;
}

.modal-checkbox__label {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.modal-checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #000;
  border-radius: 2px;
  margin-right: 9px;
  transition: border var(--main-transition);
}

.modal-checkbox--hidden:checked + .modal-checkbox__icon {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  background-image: url("../images/icon check.svg");
  background-size: contain;
  background-origin: border-box;
}

.modal-checkbox--hidden:focus ~ .modal-checkbox__icon {
  border: 2px solid var(--secondary-color);
}

.modal-checkbox:hover .modal-checkbox__icon {
  border: 2px solid var(--secondary-color);
}

.modal-checkbox--hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.modal-submit {
  display: block;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  background-color: var(--secondary-color);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 1.87;
  color: #fff;
  padding: 0;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--main-transition);
}

.modal-submit:hover {
  background-color: #188ce8;
}

/* ==============  ФУТЕР  ============ */

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

/* =========== ПОЧТА, ТЕЛЕФОН, ЛОГО, АДРЕС ========== */

.footer-contacts__link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.7;
  transition: color var(--main-transition);
}

.footer-contacts__link:focus,
.footer-contacts__link:hover {
  color: var(--secondary-color);
}

.footer-adress {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  margin-bottom: 9px;
  letter-spacing: 0.03em;
}

.footer-contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

/* ============= ФУТЕР СОЦСЕТИ ================= */

.footer-social {
  margin-left: 70px;
}

.footer-social__list {
  display: flex;
}

.footer-social__title {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.footer-social__icon {
  fill: #fff;
}

.footer-social__link:hover,
.footer-social__link:focus {
  background-color: var(--secondary-color);
}

.footer-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color var(--main-transition);
}

.footer-social__item:not(:last-child) {
  margin-right: 10px;
}

/* =========== ФУТЕР ПОДПИСКА ================= */

.subscribe {
  display: flex;
  margin-left: auto;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.subscribe__label {
  display: block;
  margin-bottom: 20px;
}

.subscribe__form {
  display: flex;
  flex-direction: column;
}

.subscribe__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  height: 50px;
  width: 358px;
  background-color: inherit;
  padding: 15px 16px;
  color: #fff;
  transition: border var(--main-transition);
  outline: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.subscribe__input:focus,
.subscribe__input:hover {
  border: 1px solid var(--secondary-color);
}

.subscribe__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.subscribe__button {
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background-color: var(--secondary-color);
  margin-left: 12px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  transition: background-color var(--main-transition);
  padding: 0 29px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe__button:hover {
  background-color: #188ce8;
}
